dist: xenial
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "pypy"
  - "pypy3"
install:
  - pip install tox-travis
script:
  - tox

deploy:
  - provider: script
    script: python -m pip install tox && tox -vve publish
    on:
      tags: true
      python: "3.7"
      condition: -n "$PYPI_PASSWORD"
